# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/
ENV/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Build
# ==========================

build/
dist/
*.spec

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Runtime Files
# ==========================

jarvis_voice.mp3

# ==========================
# OS Files
# ==========================

Thumbs.db
Desktop.ini
.DS_Store

# ==========================
# SQLite Temporary Files
# ==========================

*.db-wal
*.db-shm

# ==========================
# Future Runtime Data
# ==========================

cache/
temp/
userdata/
memory/
recordings/
screenshots/
exports/
downloads/

# ==========================
# Secrets
# ==========================

.env
.env.*
*.pem
*.key