# Database
database/file_index.db

# Runtime data
watch_list.json
memory.json
apps.json
jarvis_voice.mp3

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Screenshots
Screenshots/

# Logs
*.log